[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "shinySearchbar"]
	path = shinySearchbar
	url = https://github.com/jes-n/shiny-searchbar
	shallow = true
	registered = true
